{% extends "inventory/base.html" %}
{% block content %}
<div class="row">
  <div class="col-6 mb-4">
    
    <div class="card p-lg-5 p-3 shadow-2-strong">
    <div class="card bg-secondary mb-3">
      <h2 class="my-1 h2 text-center" style="color: white;">Customer Details</h2>
    </div>

      <form method="POST" class="card-body">
        {% csrf_token %}

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-2">

            <!--firstName-->
            <div class="md-form ">
            <label for="firstname" class="">First name</label>
              <input type="text" value="{{ request.user.first_name }}" id="firstname" name='firstname'
                class="form-control">
              
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-2">

            <!--lastName-->
            <div class="md-form">
            <label for="lastname" class="">Last name</label>
              <input type="text" value="{{ request.user.last_Name }}" id="lastname" name='lastname'
                class="form-control">
              
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <div class="row">
          <div class="col-md-6 mb-2">
            <div class="md-form">
              <label for="phone_number">Phone Number</label>
              <input type='text' placeholder='Phone number' id='phone_number' name='phone_number'
                class='form-control' />
            </div>
          </div>
        </div>
    </div>
    
    
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
      Accept Payment
    </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Payent Confirmation!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body">
                Payment reieved of <strong>Rs. {{ order.get_total | floatformat:"2" }}</strong>?
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  {% include 'inventory/order_snippet.html' %}
</div>

  
{% endblock content %}
