{% extends "inventory/base.html" %}
{% block content %}
<div lass="row">
<div class="row wow fadeIn">
  <div class="col-xl-12 col-lg-6 col-md-6 mb-4">
    <div class="content-section">
      <h3>Employee details</h3>
      <p class='text-muted'>{% if user.is_superuser %}You are an admin.{% else %}{% endif %}
      <ul class="list-group">
          <li class="list-group-item list-group-item-light"><strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}</li>
          <li class="list-group-item list-group-item-light"><strong>Total orders: </strong>{{ num_items }}</li>
      </ul>
      </p>
    </div>
  </div>
  {% for order in all_orders %}
  <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
  {% include 'inventory/all_orders.html' %}
  </div>
  {% endfor %}
</div>
  
{% endblock content %}